@font-face {
    font-family: 'Beast Font'; /*a name to be used later*/
    src: url('/fonts/beast.ttf'); /*URL to font*/
}

body {
    background: url('/img/home_bg.png') repeat;
    font-family: 'Pontano Sans', sans-serif;
}

.btn-nav {
    margin-top: 8px !important;
}

.logo {
    font-family: 'Beast Font';
    color: #FFF;
    font-size: 1.4em;
    margin-top: 1%;
}

.navbar {
    min-height: 80px;
}

.navbar-inverse {
    background-image: none;
    background: #555A92;
}

.navbar-right {
    margin-top: 1%;
}

.top-row {
    margin-top: 18%;
}

.panel-primary {
    border-color: #555A92;
}

.panel-primary .panel-heading {
    background: #555A92;
    border-color: #555A92;
}

.btn-purple {
    background: #555A92;
    border-color: #555A92;
    color: #FFF;
}

.btn-purple:hover, .btn-purple:active {
    background: #393e6f;
    border-color: #555A92;
    color: #FFF;
}

h4 {
    line-height: 3;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .logo {
        font-family: 'Beast Font';
        color: #FFF;
        font-size: 3.5em;
        margin-top: 1%;
    }
    
    .top-row {
        margin-top: 3%;
    }
}










