@charset "UTF-8";
/********************************** 
   Author: Symbiotic-Themes
   Theme: Chappi (App Landingpage)
   Version: 1.0.1   
**********************************/


/******************

   Legend:
     
   == 01. Globals 
   == 02. Header
   == 03. Content
   == 04. Footer
  
******************/


/**************
**   FONTS   **
**************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500|Pacifico|Audiowide);


/******************
**  01. Globals  **
******************/
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Audiowide', cursive;
  font-size: 30px;
  color: #fdc21f;
  background: url('/img/BFWall.jpg') #000 no-repeat center center;
  background-size: cover;
}

img,
div {
    border: none;
}

a {
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    color: #3c0063;
}

a:focus {
    outline: 0;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #474646;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #989898;
}

h1,
h2,
h3,
h4,
h5,
h6 {
      font-family: 'Muli', sans-serif;
}
}

*::-moz-selection {
    background: none repeat scroll 0 0 #3c0063;
    color: #fff;
}

::selection {
    background: #3c0063;
    color: #fff;
}

/* Preloader */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 70px;
    height: 70px;
    margin: -35px 0 0 -35px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3c0063;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3c0063;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3c0063;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



/* Globals */
h2 {
    font-weight: 100;
    font-size: 36px;
    color: #303030;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.subheadline {
    font-size: 21px;
    color: #9c9c9c;
    line-height: 27px;
    margin-bottom: 50px;
}

.heading {
    display: inline-block;
    margin-bottom: 50px;
}

.heading.center {
    text-align: center;
}

.heading:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background: #ccc;
}

.heading.center:after {
    margin: 0 auto;
}

.heading.inverted h2, .heading.inverted p {
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.heading.inverted:after {
    background: #fff;
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
    -o-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
}

.inverted {
    color: #fff;
}

.overlay-gradient {
 /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMjU0Zjc1IiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNGU4MWI2IiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(-45deg, rgba(48, 0, 71, 0.85) 0%, rgba(43, 44, 53, 0.9) 100%);
 /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(48, 0, 71, 0.85)), color-stop(100%,rgba(43, 44, 53, 0.9)));
 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(48, 0, 71, 0.85) 0%,rgba(43, 44, 53, 0.9) 100%);
 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(48, 0, 71, 0.85) 0%,rgba(43, 44, 53, 0.9) 100%);
 /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(48, 0, 71, 0.85) 0%,rgba(43, 44, 53, 0.9) 100%);
 /* IE10+ */
    background: linear-gradient(135deg, rgba(48, 0, 71, 0.85) 0%,rgba(43, 44, 53, 0.9) 100%);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e63c0063', endColorstr='#e64e81b6',GradientType=1 );
 /* IE6-8 fallback on horizontal gradient */
    width: 100%;
    height: 100%;
}

.overlay-silver {
 /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZWZkZmUiIHN0b3Atb3BhY2l0eT0iMC45NSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjBmMGYwIiBzdG9wLW9wYWNpdHk9IjAuOTUiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover, rgba(254,253,254,0.95) 0%, rgba(240,240,240,0.95) 100%);
 /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(254,253,254,0.95)), color-stop(100%,rgba(240,240,240,0.95)));
 /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(254,253,254,0.95) 0%,rgba(240,240,240,0.95) 100%);
 /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(254,253,254,0.95) 0%,rgba(240,240,240,0.95) 100%);
 /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(254,253,254,0.95) 0%,rgba(240,240,240,0.95) 100%);
 /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(254,253,254,0.95) 0%,rgba(240,240,240,0.95) 100%);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2fefdfe', endColorstr='#f2f0f0f0',GradientType=1 );
 /* IE6-8 fallback on horizontal gradient */
    width: 100%;
    height: 100%;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.overlay-black {
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
}

/* Inputs General */
.input-field {
    height: 55px;
    padding: 0 20px;
    font-size: 16px;
    color: #6e6e6e;
    font-weight: 300;
}

.submit {
    height: 55px;
    padding: 0 60px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

/* Carousel Settings */
.owl-controls {
    opacity: 0;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.owl-carousel:hover .owl-controls {
    opacity: 1;
}

.owl-theme .owl-controls .owl-buttons div {
    color: #3c0063;
    border: 1px solid #3c0063;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    background: #3c0063;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #3c0063;
}

section {
    position: relative;
}

/* Skew */
.skew section:before, .skew section:after, .skew .feature:before, .skew .feature:after {
    background: #ffffff;
    content: "";
    height: 80px;
    position: absolute;
    top: -45px;
    left: 0;
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    width: 100%;
    z-index: 3;
}

.skew .feature:first-child, .skew .download, .skew .testis, .skew .newsletter {
    padding: 140px 0;
}

.skew .download .first {
    bottom: -520px;
}

.skew .download .second {
    bottom: -240px;
}


/* Particles Overlay */
.pg-canvas { position: absolute; width: 100%; height: 100%; opacity: 0.1; }


/* Parallax */
.parallax header, .parallax section, .parallax .feature {
    background-position: 50% 0;
    background-attachment: fixed;
}

/* Section */
section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Mobile Menu */
.navbar-toggle {
    position: absolute;
    top: 0;
    right: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
    background: #3c0063;
}


/******************
**  02. Header   **
******************/

/* Header + Top Bar */
header {
    width: 100%;
}

#intro {
    width: 100%;
    height: 820px;

}

.top-bar {
    display: inline-block;
    width: 100%;
    margin-bottom: 60px;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
	  margin-top: -117px;
}

.top-bar.slidedown {
    position: fixed;
    top: -80px;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #3c0063;
    padding: 0 0 15px;
}

.top-bar.slidedown .nav {
    padding-top: 15px;
}

.top-bar.slidedown .logo {
    margin-top: 5px;
}

.top-bar.slidedown .logo a {
    font-size: 36px;
}

.slide-menu .top-bar.slidedown {
    top: 0;
}

/* Logo */
.logo {
    float: left;
}

.logo a {
    font-size: 20px;
    font-family: 'Trade Winds', cursive;
    text-transform:uppercase;
    color: #fdc21f;
    text-shadow: 0 5px 5px rgba(0,0,0,1);
    height: 165px;
}

/* Menu */
.nav {
    float: left;
    width: 100%;
    margin-top: 8%;
}

.nav li {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
}

.nav li a, .nav li:first-child a.active {
    color: #fff;
    display: inline-block;
    padding: 6px 10px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
	font-family: 'Muli', sans-serif;
}

.nav li:first-child a.active {
    background: none;
}

.nav li a:hover, .nav li a.active, .nav li:first-child a.active:hover {
    background: #fff;
    text-shadow: inherit;
    border-radius: 5px;
    color: #3c0063;
}

.nav .download-btn a {
    background: #fff;
    color: #3c0063;
    text-shadow: inherit;
    border-radius: 5px;
	background: #f9e867; /* Old browsers */

background: -moz-linear-gradient(top,  #f9e867 0%, #f7c921 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9e867), color-stop(100%,#f7c921)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #f9e867 0%,#f7c921 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #f9e867 0%,#f7c921 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #f9e867 0%,#f7c921 100%); /* IE10+ */

background: linear-gradient(to bottom,  #f9e867 0%,#f7c921 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e867', endColorstr='#f7c921',GradientType=0 ); /* IE6-9 */

}

.nav .download-btn a:hover {
    background: #3c0063;
    color: #fff;
}

.nav .download-btn a.active {
    background: none;
    border-color: #fff;
    color: #fff;
}

.social-icons {
  margin: 19% 2%; 
}

.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #FFF;  
  margin-left: 10px;
}

.social-icon a {
  color: #FFF;
  font-size: 0.8em;
  display: block;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.15s ease-in-out;
}

a.facebook {
  margin: 7%;
}

a.facebook:hover {
  color: #3b5998;
}

a.instagram {
  margin: 7% 24%;
}

a.instagram:hover {
  color: #517fa4;
}

a.twitter {
  margin: 7% 20%;
}

a.twitter:hover {
  color: #00aced;
}

/* Intro Heading */
.headline {
    text-align: center;
    margin-bottom: 25px;
	background: -moz-linear-gradient(top,  rgba(0, 0, 0, 1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(0, 0, 0, 1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(0, 0, 0, 1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(0, 0, 0, 1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(0, 0, 0, 1) 0%,rgba(255,255,255,0) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


}

.headline:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
    -o-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
}

.headline h1 {
    font-size: 40px;
color: #fdc21f;
  font-weight: 100;
  text-shadow: 0px 2px 1px rgba(115, 64, 177, 1);
    text-transform: uppercase;
	font-family: 'Audiowide', cursive;
	padding-bottom: 17px;
	margin-top: -15px;
	  padding-top: 20px;
}

.headline p {
    color: #fff;
    font-size: 1.2em;
    text-shadow: 0px 1px 11px rgba(255, 190, 0, 0.65);
    padding: 0 200px;
      margin-bottom: 20px;
  	padding: 00px;
	font-family: 'Viga', sans-serif;
	
}

/* Slider */
.swiper-container {
    width: 960px;
    height: 325px;
    margin-bottom: 30px;
    position: relative;
    z-index: 4;
}

.swiper-slide {
    float: left;
    height: 588px;
}

.swiper-container img {
    margin: 0 auto;
    position: relative;
    z-index: 5 !important;
}

.arrow-left, .arrow-right {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 11;
    top: 50%;
    margin-top: -60px;
    background: #fff;
    border: 1px solid #3c0063;
    border-radius: 50%;
    font-size: 18px;
    color: #3c0063;
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    opacity: 0;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.arrow-left:hover, .arrow-right:hover {
    background: #3c0063;
    color: #fff;
}

.arrow-left {
    left: 40px;
}

.arrow-right {
    right: 40px;
}

.swiper-container:hover .arrow-left, .swiper-container:hover .arrow-right {
    opacity: 1;
}

.mobile-video p {
  font-family: 'Audiowide', cursive;
  color: #fdc21f;
}

/**
 * ========================================
 * HERO
 * ========================================
 */
.hero-section {
	margin: 80px 0;
	text-align: center;
}
.hero-section:after {
	content: "";
	position: absolute;
	top: 0;
	z-index: -1;
	height: 160px;
	width: 100%;
	display: block;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
	background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
	opacity: 0.3;
}
.hero-section.hero-fullscreen,
.hero-section.hero-fullscreen .container,
.hero-section.hero-fullscreen .container-fluid {

}
.hero-section .container {
	position: relative;
	z-index: 1;
	vertical-align: middle;
	display: inline-block;	
}
.hero-section form {
	background-color: #f6f6f6;
	padding: 30px;
	font-family: Helvetica, Arial;
}
.section-gray.hero-section form {
	background-color: #fff;
}
.section-dark.hero-section form {
}
.hero-content {
	display: table;
	width: 100%;
	height: 100%;
}
.hero-content-inner {
	display: table-cell;
	vertical-align: middle;
}
.hero-title {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-bottom: 10px;
}
.hero-tagline {
	font-size: 20px;
}
.hero-buttons {
	margin-top: 30px;
}
.hero-buttons > a {
	margin: 15px 15px 0;
}
.hero-buttons > a:only-child {
	margin: 0;
}
.hero-countdown {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
.hero-countdown .countdown {
	color: #222;
}
.section-dark .hero-countdown .countdown, .section-accent .hero-countdown .countdown {
	color: #fff;
}
.hero-countdown-heading {
	font-size: 20px;
	margin-bottom: 10px;
}
.hero-start-link {
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -25px;
	margin-bottom: 30px !important;
	display: block;
	width: 50px;
	height: 50px;
	border: 1px solid rgba(255,255,255,0.25);
	border-radius: 50%;
	line-height: 48px;
	text-align: center;
	font-size: 32px;
	color: #ccc;
}
.hero-start-link:hover, .hero-start-link:focus {
	border-color: #fff;
	color: #fff;
}
@media ( max-width: 479px ) {
	.hero-countdown .countdown-number {
		font-size: 40px;
	}
	.hero-countdown .countdown-label {
		font-size: 11px;
	}
}
@media ( max-width: 991px ) {
  .headline p { font-size: 1em; }
  ul.navbar-collapse { z-index: 200; }
  h3 { margin-left: 0; }
  .hero-section { text-align: left; }
	.hero-section.hero-fullscreen {
		height: auto;
	}
	.hero-start-link {
		display: none;
	}
}

/* HERO LAYOUT: FULLSCREEN CTA (SIMPLE) */
.hero-layout-simple .hero-heading {
	text-align: center;
}
.hero-layout-simple .hero-title {
	font-size: 64px;
	line-height: 1.15;
}
@media ( max-width: 991px ) {
	.hero-layout-simple .hero-title {
		font-size: 56px;
	}
}
@media ( max-width: 767px ) {
	.hero-layout-simple .hero-title {
		font-size: 48px;
	}
	.hero-layout-simple .hero-tagline {
		font-size: 18px;
	}
}
@media ( max-width: 479px ) {
	.hero-layout-simple .hero-title {
		font-size: 40px;
	}
	.hero-layout-simple .hero-tagline {
		font-size: 16px;
	}
}

/* HERO LAYOUT: FULLSCREEN CTA (SIMPLE) + COUNTDOWN */

/* HERO LAYOUT: FULLSCREEN SUBSCRIPTION FORM */

/* HERO LAYOUT: FULLSCREEN SUBSCRIPTION FORM + COUNTDOWN */

/* HERO LAYOUT: VIDEO + SUBSCRIPTION FORM */
.hero-layout-video-and-subscription-form {
	padding: 120px 0;
}
.hero-layout-video-and-subscription-form .form-heading {
	padding-bottom: 0;
}
.hero-layout-video-and-subscription-form .form-heading:after {
	display: none;
}

/* HERO LAYOUT: CLASSIC */
.hero-layout-classic {
	padding: 120px 0;
	height: auto !important; /* force to disable fullscreen mode */
}
.hero-layout-classic .hero-heading {
	text-align: center;
}
.hero-layout-classic .hero-title {
	font-size: 56px;
	line-height: 1.15;
}
.hero-features {
	margin-top: 60px;
	text-align: left;
}
@media ( min-width: 992px ) {
	.hero-features-right {
		padding-left: 50px;
	}
	.hero-features-right.col-md-pull-5 {
		padding-right: 50px;
		padding-left: 15px;
	}
}
@media ( max-width: 991px ) {
	.hero-layout-classic .hero-title {
		font-size: 48px;
	}
	.hero-features {
		margin-top: 30px;
	}
	.hero-features-right {
		margin-top: 30px;
	}
}
@media ( max-width: 767px ) {
	.hero-layout-classic .hero-title {
		font-size: 40px;
	}
	.hero-layout-classic .hero-tagline {
		font-size: 18px;
	}
}
@media ( max-width: 479px ) {
	.hero-layout-classic .hero-title {
		font-size: 32px;
	}
	.hero-layout-classic .hero-tagline {
		font-size: 16px;
	}
}

/* HERO LAYOUT: FEATURES AND FORM */

/* HERO LAYOUT: VIDEO AND FORM */
.hero-layout-video-and-form .lead:after {
	display: none;
}
.hero-layout-video-and-form .lead {
	padding: 0;
	margin: 30px 0 0;
}

/* HERO LAYOUT: VIDEO AND FEATURES CTA */
.hero-layout-video-and-features-cta .video-embed {
	margin-top: 0;
}
.hero-layout-video-and-features-cta .lead:after {
	display: none;
}
.hero-layout-video-and-features-cta .lead {
	padding: 0;
	margin: 30px 0 0;
}
.hero-layout-video-and-features-cta .hero-buttons {
	margin-top: 20px;
}
.hero-layout-video-and-features-cta .icon-list {
	margin-top: -20px;
}

.panel-primary {
    border-color: #555A92;
    color: #555A92;
}

.panel-primary .panel-heading {
    background: #555A92;
    border-color: #555A92;
}

.btn-purple {
    background: #555A92;
    border-color: #555A92;
    color: #FFF;
}

.btn-purple:hover, .btn-purple:active {
    background: #393e6f;
    border-color: #555A92;
    color: #FFF;
}

.forgot-password {
  font-size: 14px;
}

.form-group {
  text-align: left;
}

.home-content {
  margin-top: 3%;
}

.panel-body label {
  font-size: 18px;
}

/******************
**  03. Content  **
******************/

/* Get Started */
.get-started {
    padding-bottom: 100px;
    padding-top: 190px;
}

.icon-wrap {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 30px;
}

.icon-wrap h3 {
    font-size: 24px;
    color: #303030;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 30px;
}

.icon-wrap .icon {
    font-size: 36px;
    color: #3c0063;
    width: 80px;
    height: 80px;
    display: inline-block;
    border: 1px solid #3c0063;
    text-align: center;
    border-radius: 50%;
    padding-top: 20px;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.icon-wrap:hover .icon {
    background: #3c0063;
    color: #fff;
}

/* Features */
.feature {
    padding: 100px 0 80px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.feature-block {
    position: relative;
    padding-left: 80px;
    margin-bottom: 50px;
    padding-right: 60px;
}

.feature-block i {
    width: 50px;
    height: 50px;
    border: 1px solid #3c0063;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    padding-top: 12px;
    position: absolute;
    left: 0;
    top: 0;
    color: #3c0063;
    border-radius: 50%;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.feature-block:hover i {
    background: #3c0063;
    color: #fff;
}

.feature-block h3 {
    font-size: 21px;
    color: #3c0063;
    font-weight: 300;
    margin-top: 0;
}

.feature .heading:after {
    background: #3c0063;
}

.feature .heading {
    padding-right: 60px;
}

.feature img {
    position: absolute;
}

.feature .first {
    left: 190px;
    z-index: 2;
}

.feature .second {
    left: 90px;
    top: 40px;
    z-index: 1;
}

.feature .third {
    left: 110px;
    z-index: 2;
}

.feature .fourth {
    left: 270px;
    top: 50px;
    z-index: 1;
}

/* Download */
.download {
    padding: 100px 0 60px;
    position: relative;
    text-align: center;
    overflow: hidden;
    min-height: 800px;
}

.dw-btns {
    margin-bottom: 50px;
}

.dw-btns li {
    display: inline-block;
    margin: 0 10px;
}

.dw-btns a {
    width: 60px;
    height: 60px;
    display: block;
    border: 3px solid #fff;
    background: #3c0063;
    border-radius: 5px;
    font-size: 26px;
    padding-top: 7px;
    color: #fff;
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
    -o-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.dw-btns a:hover {
    background: #fff;
    border-color: #3c0063;
    color: #3c0063;
}

.download img {
    position: absolute;
}

.download .first {
    bottom: -480px;
    left: 50%;
    margin-left: -360px;
    z-index: 1;
}

.download .second {
    bottom: -200px;
    left: 50%;
    margin-left: 100px;
    z-index: 2;
}

.tooltip-left {
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: 310px;
    left: -80px;
    transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
}

.tooltip-left .arrow {
    background: url(file:///Macintosh%20HD/Users/jeremypreimesberger/Downloads/download/html/img/bg/arrow-left.png) center no-repeat;
    width: 76px;
    height: 62px;
    position: absolute;
    top: 30px;
    left: 50px;
}

.tooltip-left p, .tooltip-right p {
    color: #bbbbbb;
    font-size: 21px;
}

.tooltip-right {
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: 300px;
    right: 30px;
    transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
}

.tooltip-right .arrow {
    background: url(file:///Macintosh%20HD/Users/jeremypreimesberger/Downloads/download/html/img/bg/arrow-right.png) center no-repeat;
    width: 57px;
    height: 90px;
    position: absolute;
    top: 30px;
    right: 50px;
}



/* Gallery */
.gallery {
    padding: 100px 0;
    position: relative;
    text-align: center;
}

.gallery img {
    margin: 0 auto;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.gallery .owl-prev {
    left: -70px;
}

.gallery .owl-next {
    right: -70px;
}

.gallery .owl-theme .owl-controls {
    margin-top: 30px;
}

.gallery .owl-theme .owl-controls .owl-buttons div {
    margin-top: -50px;
}

.gallery a {
    background: #3c0063;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
}

.gallery a:hover img {
    opacity: 0.2;
}

.gallery .owl-item {
    position: relative;
}

.ico {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -webkit-transform: translate(0, 200px);
    -moz-transform: translate(0, 200px);
    -o-transform: translate(0, 200px);
    transform: translate(0, 200px);
}

.ico i {
    color: #fff;
    font-size: 30px;
}

.gallery .owl-item:hover .ico {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}


/* Testimonials */
.testis {
    padding: 100px 0;
    position: relative;
    text-align: center;
}

.testis img {
    margin: 0 auto;
    margin-bottom: 10px;
    border: 3px solid #3c0063;
    width: 75px;
}

blockquote {
    border: none;
    margin: 0;
}

blockquote p {
  color: #FFF !important;
  font-size: 16px !important;
}

blockquote footer {
  color: #FFF;
}

cite {
    font-size: 21px;
    font-weight: 100;
    color: #fdc21f;
    font-style: normal;
    margin-bottom: 30px;
    display: inline-block;
}

cite a {
  color: #fdc21f;
}

cite a:hover {
  color: #fdc21f;
  text-decoration: underline;
}

cite span {
    display: block;
    font-size: 14px;
    color: #9c9c9c;
    font-style: italic;
}

.testis .owl-theme .owl-controls {
    margin-top: 20px;
}

.testis .owl-prev {
    left: -100px;
    margin-top: 30px !important;
}

.testis .owl-next {
    right: -100px;
    margin-top: 30px !important;
}   


/* Price */
.pricing {
    padding: 100px 0;
    position: relative;
    text-align: center;
}

/* Pricing Tables */
.plan {
    background: #fbfbfb;
    text-align: center;
    margin: 20px 0 30px;
    color: #9c9c9c;
    border: 1px solid #3c0063;
    border-radius: 5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.plan.featured {
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
}

.plan:hover {
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
    -o-webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}

.plan li.plan-name {
    padding: 15px;
    font-size: 21px;
    color: #3c0063;
    border: 0;
    font-weight: 100;
}

.plan li.plan-price {
    padding: 30px;
    font-size: 42px;
    color: #fff;
    border: 0;
    font-weight: 100;
}

.plan li.plan-action {
    border: 0;
    padding: 40px 0;
}

.plan li.plan-action .btn-sign {
    background: #3c0063;
    border: 1px solid #3c0063;
    border-radius: 10px;
    color: #fff;
    padding: 10px 30px;
    font-size: 21px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.plan li.plan-action .btn-sign:hover {
    color: #3c0063;
    border: 1px solid #3c0063;
    background: #fff;
}

.plan-price span {
    font-size: 30px;
}

.plan li {
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
    font-weight: 300;
}

.plan li i {
    margin-right: 5px;
}


/* Newsletter */
.newsletter {
    padding: 100px 0;
    position: relative;
}

.newsletter input {
    float: left;
    position: relative;
    left: 50%;
}

.newsletter .input-field {
    width: 335px;
    margin-left: -256.6px;
    background: url(file:///Macintosh%20HD/Users/jeremypreimesberger/Downloads/download/html/img/bg/mail-ico.jpg) 20px center no-repeat #fff;
    padding-left: 60px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.newsletter .submit {
    background: #3c0063;
    border: 1px solid #3c0063;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.newsletter .submit:hover {
    background: #fff;
    color: #3c0063;
}

.newsletter .input-field.error {
    border: 1px solid #ef4b4b;
}

.subscribe-message {
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -255px;
}


/* Contact */
.contact {
    padding: 100px 0;
    position: relative;
}

.contact-message {
    margin-bottom: 10px;
    font-weight: bold;
}

.contact input, textarea {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #cacaca;
    border-radius: 5px;
}

.contact input:focus, textarea:focus {
    border-color: #3c0063;
    outline: 0;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.contact textarea {
    resize: none;
    height: 200px;
    padding: 20px;
}

.contact .submit {
    margin: 0;
    width: 178px;
    border-color: #3c0063;
    float: right;
    background: #3c0063;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.contact .submit:hover {
    background: #fff;
    color: #3c0063;
}

.contact input.error {
    border: 1px solid #ef4b4b;
}

.contact input.error:focus, textarea.error:focus {
    border: 1px solid #ef4b4b;
}

.fast-contact {
    margin-bottom: 100px;
}

.fast-contact li {
    font-size: 18px;
    color: #9c9c9c;
    font-weight: 100;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}

.fast-contact li i {
    position: absolute;
    left: 0;
    top: 5px;
    color: #9c9c9c;
}

.fast-contact a:hover {
    text-decoration: underline;
    color: #3c0063;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.socials li {
    display: inline-block;
    margin-right: 5px;
}

.socials a {
    width: 35px;
    height: 35px;
    display: block;
    background: #3c0063;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid #3c0063;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.socials a:hover {
    background: #fff;
    color: #3c0063;
}


/******************
**  04. Footer   **
******************/

footer {
    text-align: center;
}

footer p {
    border-top: 1px solid #ccc;
    padding-top: 30px;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    background: #fff;
    border: 1px solid #3c0063;
    border-radius: 50%;
    font-size: 18px;
    color: #3c0063;
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.scrollup:hover {
    background: #3c0063;
    color: #fff;
}



/* Special Media Queries */
@media (max-width: 991px) {

    .top-bar {
        background: #3c0063;
    }

    .navbar-collapse {
        background: #3c0063;
    }

    .nav .download-btn a:hover, .nav .download-btn a.active {
        color: #3c0063;
    }
}
