@font-face {
    font-family: 'Beast Font'; /*a name to be used later*/
    src: url('/fonts/beast.ttf'); /*URL to font*/
}
@media (max-width: 767px) {
  .text-center-xs {
    text-align: center; } }

@media (min-width: 768px) {
  .img-responsive-sm {
    display: block;
    height: auto;
    max-width: 100%; } }

@media (max-width: 767px) {
    .no-mg-t-xs {
        margin-top: 0 !important; 
    }    
}

body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    background-color: #666;
    background: url(../img/BFWall.jpg) #120b08 no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.ui-autocomplete {
    z-index: 5000;
}

.batting-order-numbers {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

.row {
    margin-right:0px;
}

.create-match-previous {
  margin-top: 8%;
}

.field-bg {
    background:url("https://ui.bamstatic.com/fedapp/gameday/gdapp/mlb/v1.0.0/assets/img/stadiums/night/10.jpg") no-repeat;
    height: 445px;
    width: 1160px;
    max-width: 100%;
    opacity: 0.6;
}

.injured {
  cursor: pointer;
}

.filters {
  margin: -1% 5%;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #555A92;
  border-width: 5px 5px 0;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #555A92;
  border-width: 5px 0 5px 5px;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #555A92;
  border-width: 5px 5px 5px 0;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #555A92;
  border-width: 0 5px 5px;
}
.tooltip-inner {
  color: #CCD0FF;
  background: #555A92;
  border: solid 1px #555A92;
  padding: 10px;
  font-size: 14px;
}

.logo {
    font-family: 'Beast Font', 'Cinzel', serif;
    color: #FFF;
    font-size: 1.5em;
    margin-left: 3%;
    margin-top: -7px;
    font-weight: bold;
}

.logo > img {
    margin-top: -3px;
}

.logoText {
    display: inline-block;
    vertical-align: middle;
}

.tm {
    font-weight: normal;
    font-size: .7em;
}

.no-mg-t {
  margin-top: 0 !important; }

.no-mg-b {
  margin-bottom: 0 !important; }

.center-block {
  margin-left: auto;
  margin-right: auto; }

#stats-chart1, #stats-chart2, #stats-chart3, #stats-chart7, #stats-chart8 {
  height: 200px; }

.color-settings .color-title {
  font-weight: bold;
  padding-left: 10px; }

.wysihtml5-sandbox {
  box-sizing: border-box; }

.batting_number {
  margin-top: 9px;
}

span.batting_num {
  display: inline-block;
  padding: 15px 20px;
  font-size: 44px;
}

span.batting_num:nth-child(1) {
  margin-top: 10px;
}

span.batting_num:nth-child(2) {
  margin-top: 6px;
}

span.batting_num:nth-child(3) {
  margin-top: 4px;
}

span.batting_num:nth-child(4) {
  margin-top: 5px;
}

span.batting_num:nth-child(5) {
  margin-top: 5px;
}

span.batting_num:nth-child(6) {
  margin-top: 5px;
}

span.batting_num:nth-child(7) {
  margin-top: 5px;
}

span.batting_num:nth-child(8) {
  margin-top: 5px;
}

span.batting_num:nth-child(9) {
  margin-top: 5px;
}

.batting-order-sort {
  background-color: #FFF !important;
}

.batting-order-sort > li {
  background-color: #FFF;
  border: 1px solid #555A92 !important;
  color: #000 !important;
  padding: 0 !important;
  font-size: 1em !important;
  font-weight: normal !important;
  margin: 7px 0 !important;
}

.well {
  border: 1px solid #555A92 !important;
}

.nav-tabs {
  border-bottom: 2px solid #555A92 !important;
}

.nav-tabs > li {
  margin-bottom: -2px;
}

.nav > li.active, .nav > li:hover {
  border-bottom: none !important;
}

.nav-tabs > li > a {
  min-width: 60px;
  text-align: center;
  border: 1px solid #555A92 !important;
  border-bottom: none !important;
  border-radius: 5px 5px 0 0 !important;
  color: #555A92;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #EEE;
  border-radius: 5px 5px 0 0 !important;
  border-bottom: 1px solid #f1c123 !important;
}

.nav > li > a:focus, .nav > li > a:hover {
  border-radius: 5px 5px 0 0 !important;
}

nav {
    padding-left: 4%;
    margin-bottom: 3%;
    border-bottom: 1px solid #DDD;
}

#main-nav-bg {
    background: url('/img/nav_bg.png') repeat;
}

#main-nav {
    top: 40px;
    z-index: 1000;
}

.nav > li:hover {
    border-bottom: none;
}

.nav > li.active {
    border-bottom: 2px solid #555A92
}

batting-sort-item {
  font-weight: normal;
}

.contrast-purple header .navbar {
    background-color: #1e033d;
    background-image: url(/img/fabric-of-squares.png);
    color: #555A92;
}

header .navbar .toggle-nav {
    margin-left: 0;
    padding: 10px 16px;
    margin-top: 0;
}

header .navbar {
    padding: 0;
}

header .navbar .navbar-brand {
    line-height: 38px;
}

#main-nav .navigation > .nav > li > a:after {
    border-right: none;
}

header .navbar > .nav > li.first {
    border-left: none;
}

header .navbar > .nav > li.balance {
    border-left: none;
    margin: 7px 16px;
    font-size: 1.3em;
    color: #FFF;
}

header .navbar > .nav > li.balance:hover {
    border-bottom: none;
}

header .navbar > .nav > li {
    border-left: 1px solid #555A92;
}

header .navbar > .nav > li > a {
    color: #FFF;
}

header .navbar > .nav > li > a > i {
    color: #555A92;
}

header .navbar > .nav > li > a:hover {
    color: #555A92;
}

header .navbar > .nav > li > a.btn:hover {
  color: #EFEFEF;
}

header .navbar .user-menu .dropdown-toggle img {
    border: 2px solid #FFF;
}

header .navbar .user-menu:hover .dropdown-toggle img {
    border: 2px solid #555A92;
}

header .navbar > .nav > li.dropdown > .dropdown-toggle .user-name {
    color: #FFF;
}

header .navbar > .nav > li.dropdown:hover > .dropdown-toggle .user-name {
    color: #555A92;
}

header .navbar > .nav > li.dropdown > .dropdown-toggle .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}

header .navbar > .nav > li.dropdown:hover > .dropdown-toggle .caret {
    border-top-color: #555A92;
    border-bottom-color: #555A92;
}

header .navbar > .nav > li.dropdown.open > .dropdown-toggle {
    color: #555A92;
}

#content {
    background: transparent;
}

.page-header {
    background: #555A92;
}

.page-header h1 {
    color: #CCD0FF;
}

.contrast-purple .page-header h1 [class^="icon-"] {
    color: #CCD0FF;
}

.table {
    background: #FFF;
}

.table > tbody > tr > td, .table > thead > tr > th {
  text-align: center;
}

.table-bordered-bottom > tbody > tr > td {
    border-bottom: 1px solid #ddd;
    border-top: none;
}

.table thead {
    background: #250b42;
    color: #FFF;
}

table.score tbody td.at_bat .btn {
    margin: 27% 0;
}

table.score tbody td.at_bat {
    background-color: transparent;
    border: none;
}

table.table-horizontal thead {
   float: left;
   margin-top: 8px;
   margin-right: 11px;
}

.table-horizontal thead > tr > th {
    border-bottom: none;
}

.table-horizontal thead > tr > th > span.label {
    padding: 20px 12px;
    margin-top: 3px;
    display: block;
}

table.table-horizontal thead th {
   display: block;
}

table.table-horizontal tbody {
   float: left;
   width: 87%; 
}

table.table-horizontal tbody td {
   width: 1%;
   border: 1px solid #9195a1;
}

table.table-horizontal tbody td.empty {
    border: none;
}

.sitPoints {
    background: transparent;
}

.svg {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.shield {
    background-image: url('/img/shield.svg');
    width: 77px;
    height: 90px;
    color: #CCD0FF;
    font-size: 12px;
    margin-left: 2%;
    margin-top: 15px;
}

.shield p {
    padding-top: 1px;
    margin-top: -4px;
}

.shield hr {
    background-color: #CCD0FF;
    width: 60%;
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #CCD0FF;
    margin: 1em 0; 
    padding: 0;
}

.alert-icon {
    font-size: 38px;
    vertical-align: middle;
    display: inline-block;
}

.alert p {
    font-size: 18px;
}

.field-margin {
    margin-left: -18% !important;
}

.disabled-text {
    opacity: 0.6;
    font-style: italic;
}

.friend-info {
    display: inline-block;
    margin: 5px;
}

.shape{	
	border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
	-ms-transform:rotate(360deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	transform:rotate(360deg);
}
.offer{
	background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden; min-height: 151px; cursor: pointer;
}
.offer-price:hover {
    -webkit-box-shadow: 0px 0px 30px 0px #5cb85c;
    -moz-box-shadow:    0px 0px 30px 0px #5cb85c;
    box-shadow:         0px 0px 30px 0px #5cb85c;
}
.offer-price-selected {
    -webkit-box-shadow: 0px 0px 30px 14px #64DB64;
    -moz-box-shadow:    0px 0px 30px 14px #64DB64;
    box-shadow:         0px 0px 30px 14px #64DB64;
}
.offer-time:hover {
    -webkit-box-shadow: 0px 0px 30px 0px #377EFF;
    -moz-box-shadow:    0px 0px 30px 0px #377EFF;
    box-shadow:         0px 0px 30px 0px #377EFF;
}
.offer-time-selected {
    -webkit-box-shadow: 0px 0px 30px 14px #2A64CD;
    -moz-box-shadow:    0px 0px 30px 14px #2A64CD;
    box-shadow:         0px 0px 30px 14px #2A64CD;
}
.offer-radius{
	border-radius:7px;
}
.offer-danger {	border-color: #d9534f; }
.offer-danger .shape{
	border-color: transparent #d9534f transparent transparent;
	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-success {	border-color: #5cb85c; }
.offer-success .shape{
	border-color: transparent #5cb85c transparent transparent;
	border-color: rgba(255,255,255,0) #5cb85c rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-default {	border-color: #999999; }
.offer-default .shape{
	border-color: transparent #999999 transparent transparent;
	border-color: rgba(255,255,255,0) #999999 rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-primary {	border-color: #428bca; }
.offer-primary .shape{
	border-color: transparent #428bca transparent transparent;
	border-color: rgba(255,255,255,0) #428bca rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-info {	border-color: #5bc0de; }
.offer-info .shape{
	border-color: transparent #5bc0de transparent transparent;
	border-color: rgba(255,255,255,0) #5bc0de rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-warning {	border-color: #f0ad4e; }
.offer-warning .shape{
	border-color: transparent #f0ad4e transparent transparent;
	border-color: rgba(255,255,255,0) #f0ad4e rgba(255,255,255,0) rgba(255,255,255,0);
}

.shape-text{
	color:#fff; font-size:12px; font-weight:bold; position:relative; right:-29px; top:-4px; white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(30deg); /* Safari and Chrome */
	transform:rotate(30deg);
}	
.shape-text-time {
  right:-22px;
}
.offer-content{
	padding: 30px 0 10px;
	min-height: 129px;
	text-align: center;
}
.offer-add-funds {
    opacity: 0.4;
}
.decline {
    margin-left: 10px;
}

#player_select {
  max-height: 511px;
  overflow-y: scroll;
}

.selectPlayer {
  margin-top: 10px;
}

.playerSelect-name {
  font-weight: bold;
  font-size: 14px;
}

.confirmed-status {
  margin-left: 1%;
}

canvas {
  vertical-align: bottom;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .nav-tabs > li > a {
    min-width: 0;
    text-align: center;
    border: 1px solid #555A92 !important;
    border-bottom: none !important;
    border-radius: 5px 5px 0 0 !important;
    color: #555A92;
  }  
  
  #player_select > .tab-pane > .well-sm {
    width: 99% !important;
  }
  
  .player-info {
    margin: 0 0 0 2%;
  }
  
  .batting-sort-item .player-info {
    width: 77%;
  }
  
  ul.batting-order-sort {
    margin-left: 20px !important;
    padding: 3px 5px !important;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .logo {
        font-family: 'Beast Font', 'Cinzel', serif;
        color: #FFF;
        font-size: 2.5em;
        margin-left: 3%;
        margin-top: -7px;
        font-weight: bold;
    }
    
    .field-margin {
        margin: 0 !important;
    }
    
    .batting-sort-item .player-info {
      width: 72%;
    }
    
    .nav > li > a {
      padding: 10px 12px;
    }
    
    .player-info {
      margin: 0 0 0 2%;
      width: 54%;
    }
    
    .player-info-lineup {
      width: 100%;
      margin: 0 0 0 2%;
    }
    
    .box .box-header {
      padding: 0 15px;
    }
    
    .lineup {
      margin-bottom: 0 !important;
    }
    
    .lineup .well {
      margin-bottom: 4px;
    }
    
    .weather-container {
      margin: -6% 19.6% 0;
      width: 82%;
      overflow: hidden;
    }
    
    span.batting_num {
      padding: 2px 20px;
      font-size: 34px;
    }
    
    .batting-order-sort li {
      width: 100% !important;
      padding: 7px !important;
    }
}

@media (min-width: 1600px) {
  .nav-tabs > li > a {
    min-width: 60px;
    text-align: center;
    border: 1px solid #555A92 !important;
    border-bottom: none !important;
    border-radius: 5px 5px 0 0 !important;
    color: #555A92;
  }
  
  #player_select > .tab-pane > .well-sm {
    width: 99% !important;
  }
  
  .player-info {
    margin: 0 0 0 8%;
  }
  
  ul.batting-order-sort {
    margin-left: 20px;
    padding: 3px 5px;
  }
  
  .box-content {
    max-height: 600px;
    overflow: scroll;
  }
}

