@media (max-width: 767px) {
  .text-center-xs {
    text-align: center; } }

@media (min-width: 768px) {
  .img-responsive-sm {
    display: block;
    height: auto;
    max-width: 100%; } }

@media (max-width: 767px) {
  .no-mg-t-xs {
    margin-top: 0 !important; } }

body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

.no-mg-t {
  margin-top: 0 !important; }

.no-mg-b {
  margin-bottom: 0 !important; }

.center-block {
  margin-left: auto;
  margin-right: auto; }

#stats-chart1, #stats-chart2, #stats-chart3, #stats-chart7, #stats-chart8 {
  height: 200px; }

.color-settings .color-title {
  font-weight: bold;
  padding-left: 10px; }

.wysihtml5-sandbox {
  box-sizing: border-box; }

.batting_number {
    margin-top: 9px;
}

span.batting_num {
    display: inline-block;
    margin: 18px 0 13px 0;
}

#main-nav-bg {
    background: url('/img/nav_bg.png') repeat;
}

header .navbar {
    padding: 0;
}

header .navbar .navbar-brand {
    line-height: 38px;
}

table.score tbody td.at_bat .btn {
    margin: 27% 0;
}

table.score tbody td.at_bat {
    background-color: transparent;
    border: none;
    
}

